{% extends 'products/base.html' %}

{% block  content %}
    <section>
        <div class="container pt-5">
            <div class="mt-5">
                <h1 class="text-center">О нас</h1>
                <h5>
                    Xstore — компания, которая занимается продажей электронной техники. Наша миссия -
предоставлять нашим клиентам качественную и современную технику по доступным ценам.<br><br>
Мы работаем на территории Республики Беларусь и стран СНГ и гарантируем быструю и надежную доставку товаров.<br><br>
Мы предлагаем только проверенные бренды и модели, которые отвечают высоким стандартам качества и функциональности.
Мы также оказываем консультационные услуги по выбору оптимальной техники для ваших потребностей.<br><br>
Мы рады видеть вас на нашем сайте и надеемся, что вы найдете то, что вам нужно. Если у вас есть
вопросы или пожелания, вы можете связаться с нами по указанным контактам. Мы всегда готовы помочь вам сделать
правильный выбор!
                </h5>
            </div>
        </div>
    </section>
{% endblock %}