{% extends 'products/base.html' %}
{% load static %}

{% block  css %}
<link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    {% for product in object_list %}
    <div class="card text-black text-center border-0">
        <img src="{% if product.promo_image %} {{ product.promo_image.url }} {% else %}
                    {{ product.image.url }} {% endif %}" alt="{{ product.short_name }}" class="card-img-top">
        <div class="card-img-overlay">
            <h1 class="card-title">{{ product.short_name }}</h1>
            <h3 class="card-text">{{ product.slogan }}</h3>
            <a href="{% url 'products:product_detail' product.id %}"
               class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}
