{% extends 'products/base.html' %}
{% load static %}

{% block  css %}
<link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="alert alert-primary alert-dismissible fade show text-center border-0"
         style="padding: 5px; margin: 0px;" role="alert">
        Бесплатная доставка по Республике Беларусь и странам СНГ
        <a href="#" class="close d-flex ml-auto justify-content-center align-items-center px-3"
           data-dismiss="alert" style="padding-top: 5px;">
            <i class="fas fa-times"></i>
        </a>
    </div>

    <div class="position-relative overflow-hidden p-3 text-center mx-auto border-0">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal font-weight-bold">Xstore</h1>
            <p class="lead fw-normal">Магазин цифровой техники</p>
            <button id="start-purchase-btn" type="button" class="btn btn-success btn-lg">
                <a id="start-purchase-link" href="{% url 'products:index' %}">
                    Начать покупки
                </a>
            </button>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <!-- START THE FEATURETTES -->
    <div class="card bg-dark text-light text-center">
        <h1>Новинки в Xstore | Новинки в Xstore | Новинки в Xstore | Новинки в Xstore</h1>
    </div>
    {% for product in object_list %}
    <!--                <div class="{% if product.id|divisibleby:'2' %} card text-light text-center-->
    <!--                {% else %} card text-black text-center {% endif %}">-->
    <div class="card text-black text-center border-0">
        <img src="{% if product.promo_image %} {{ product.promo_image.url }} {% else %}
                    {{ product.image.url }} {% endif %}" alt="{{ product.short_name }}" class="card-img-top">
        <div class="card-img-overlay">
            <h1 class="card-title">{{ product.short_name }}</h1>
            <h3 class="card-text">{{ product.slogan }}</h3>
            <a href="{% url 'products:product_detail' product.id %}"
               class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}
    <!-- /END THE FEATURETTES -->

    <div class="container">
        <footer class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="d-block mb-2">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                        <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                        <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                        <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                        <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                        <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                    </svg>
                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Business</a></li>
                        <li><a class="text-muted" href="#">Education</a></li>
                        <li><a class="text-muted" href="#">Government</a></li>
                        <li><a class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div><!-- /.container -->
</section>
{% endblock %}
