{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block  css %}
<link href="{% static 'vendor/css/product-detail.css' %}" rel="stylesheet">
{% endblock %}

{% block  content %}
<div class="row">
    <div class="col-md-6" id="images">
        {% for product_image in product.images.all %}
        <div>
            <div><img src="{{ product_image.image.url }}" alt="{{ product.name }}" class="img-fluid"></div>
        </div>
        {% endfor %}
    </div>

    <!-- Product Info -->
    <div class="col-md-6 py-5" id="content">
        <h1>{{ product.name }}</h1>
        <p class="lead my-4">{{ product.price }} BYN</p>

        <!-- Product Description -->
        <p class="text-muted">
            {{ product.description }}
        </p>

        <!-- Product Attributes -->
        {% if product.colors.all %}
        <div class="row my-4">
            <div class="col-sm-4">
                <label>Цвет:</label>
                <select class="form-control">
                    {% for color in product.colors.all %}
                    <option>{{ color }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}

        <!-- Add to Cart Button -->
        <a class="btn btn-primary btn-lg"
           href="{% url 'products:basket_add' product.id %}">
            Добавить в корзину</a>
    </div>
</div>
{% endblock %}