{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block  css %}
<link href="{% static 'vendor/css/product-detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="d-flex" id="main-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for product_image in product.images.all %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img src="{{ product_image.image.url }}">
                </div>
            {% endfor %}
            <a class="carousel-control-prev pr-5" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next pl-5" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="small-images d-flex" id="small-images">
            {% for product_image in product.images.all %}
            <img src="{{ product_image.image.url }}" data-target="#carouselExampleSlidesOnly"
                 data-slide-to="{{ forloop.counter0 }}">
            {% endfor %}
        </div>
    </div>
    <div class="product-description my-4">
        <!-- Product Info -->
        <div class="col-lg-12" id="content">
            <h2>{{ product.name }}</h2>
            <h3 class="my-4">{{ product.price | intcomma }} BYN</h3>

            <!-- Lineup -->
            {% if product.details %}
            <div class="col-lg-12">
            {% for el in same_generation_products %}
            {% with el.images.first as el_image %}
            <a class='el_images' href="{% url 'products:product_detail' el.id %}"><img src="{{ el_image.image.url }}"></a>
            {% endwith %}
            {% endfor %}
            </div>
            {% endif %}

            <!-- Add to Cart Button -->
            <a class="btn btn-primary btn-lg mb-4"
               href="{% url 'products:basket_add' product.id %}">
                Добавить в корзину</a>

            <!-- Product Details -->
            {% if product.details %}
            <h3>Характеристики</h3>
        <ul class="no-bullets">
                {% for key, value in product.details.items %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        </div>
    </div>
</div>

<script>
    const smallImages = document.querySelectorAll('#small-images img');
    smallImages.forEach(img => {
        img.addEventListener('click', () => {
            smallImages.forEach(img => img.classList.remove('active'));
            img.classList.add('active');
        });
    });
</script>

{% endblock %}
