{% extends 'products/base.html' %}
{% load static %}
{% load humanize %}

{% block  css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block  content %}
    <div class="container" style="margin-top: 24px;">

        <div class="row">

            <div class="col-lg-3">

                <div class="list-group">
                    <a href="{% url 'products:index' %}" class="list-group-item text-decoration-none
                    {% if request.path == '/products/' %} active {% else %} text-dark {% endif %} px-3 py-3 mx-1">Все</a>
                    {% for category in categories %}
                        <a href="{% url 'products:category' category.id %}" class="list-group-item text-decoration-none
                    {% if request.path == category.get_absolute_url %} active {% else %} text-dark {% endif %} px-3 py-3 mx-1">{{ category.name }}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="col-lg-9">

                <div class="row">

                    {% for product in object_list %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100" id="card">
                                <a href="{% url 'products:product_detail' product.id %}">
                                    <img class="card-img-top"
                                         src="{{ product.image.url }}"
                                         alt="{{ product.name }}"
                                         style="object-fit: cover; max-width: 18rem; max-length: 18rem;">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a class="text-dark" href="{% url 'products:product_detail' product.id %}">{{ product.name }}</a>
                                    </h5>
                                    <h5>{{ product.price | intcomma }} BYN</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                </div>
                                <div id="card-footer" class="card-footer text-center border-top-0 bg-white">
                                    <a class="btn btn-outline-success"
                                       href="{% url 'products:basket_add' product.id %}">
                                        Добавить в корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if is_paginated %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }}
                                   {% else %} # {% endif %}"
                                   tabindex="-1" aria-disabled="true">
                                    <
                                </a>
                            </li>
                            {% for page in page_obj.paginator.page_range %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endfor %}
                            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }}
                                   {% else %} # {% endif %}"
                                   tabindex="-1" aria-disabled="true">
                                    >
                                </a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}

            </div>

        </div>

    </div>
{% endblock %}